@page {
  size: A4;
}
@media print {
  h1 {
    string-set: doctitle content();
    page-break-before: always;
    counter-reset: figurenum;
    counter-reset: footnote;
    line-height: 1.3;
  }
  .page-break {
    page-break-before: always;
  }
  pre,
  code {
    page-break-inside: avoid;
  }
}
